    <!-- Footer -->
    <footer>
        <div class="row">
        	<div class="col-12"> <div class="vertical-spacer"> </div> </div>
        	<div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
          	<img class="logo" style="width: 100%" src="/img/logo.practica_blue.gif"/>
        	</div>
        	<div class="col-12"> <div class="vertical-spacer"> </div> </div>
      
        <div class="container text-center footer">
            <p>Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
        </div>
      </div>

    </footer>
